@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./components/Masonry";
@import "./components/LoadingSpinner";

html,
body,
#_next {
	min-width: 100%;
	min-height: 100%;
}
body {
	font-family: "Noto Sans", sans-serif;
}

.btn-primary {
	@apply p-4 text-base font-bold text-center text-white bg-green-500 shadow-sm rounded-xl;
	background-position: center;
	transition: background 0.7s;
	&:hover {
		background: #34d499 radial-gradient(circle, transparent 1%, #34d399 1%)
			center/15000%;
	}
	&:active {
		background-color: #a7f3d0;
		background-size: 100%;
		transition: background 0.9s;
	}
}

.btn-danger {
	@apply p-4 text-base font-bold text-center text-red-500 bg-transparent border-2 border-red-600 shadow-sm rounded-xl hover:text-white;

	background-position: center;
	transition: background 0.5s;
	&:hover {
		background: #dc2626 radial-gradient(circle, transparent 1%, #dc2626 1%)
			center/15000%;
	}
	&:active {
		background-color: #fca5a5;
		background-size: 100%;
		transition: background 0s;
	}
}
.btn-secondary {
	@apply p-4 bg-blue-500 text-white text-center rounded-xl font-bold text-base shadow-sm;
	background-position: center;
	transition: background 0.5s;
	&:hover {
		background: #2563eb radial-gradient(circle, transparent 1%, #2553eb 1%)
			center/15000%;
	}
	&:active {
		background-color: #a7f3d0;
		background-size: 100%;
		transition: background 0.5s;
	}
}
