@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body,
#_next {
	min-width: 100%;
	min-height: 100%;
}
body {
	font-family: "Noto Sans", sans-serif;
}
.btn-primary {
	@apply p-4 text-base font-bold text-center text-white bg-green-500 shadow-sm rounded-xl;
}
.my-masonry-grid {
	display: flex;
	margin-left: -30px;
	width: auto;
	max-width: 1400px;
	margin: auto;
}

.nextImage {
	margin: auto;

	border-radius: 15px;
	border: 1px solid #eaeaea;
	width: 100%;
	object-fit: cover;
}
.imageContainer {
	position: relative;
	margin-bottom: 2rem;
	border-radius: 15px;
}
.imageContainer > div:first-child {
	position: static !important;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.5);

	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;

	text-align: center;
}
.imageContainer:hover .overlay {
	opacity: 1;
}
.my-masonry-grid_column {
	padding-left: 30px;
	background-clip: padding-box;
}

.ripple {
	background-position: center;
	transition: background 0.5s;
}
.ripple:hover {
	background: #34d499 radial-gradient(circle, transparent 1%, #34d399 1%)
		center/15000%;
}

.ripple:active {
	background-color: #a7f3d0;
	background-size: 100%;
	transition: background 0s;
}
